
<body>
    <header class="header">
       
        <div class="header-content container">
            <div class="header-img">
                <img src="assets/images/right2.png" alt="header image" />
            </div>
            <div class="header-txt">
                <h1>Productos</h1>
                <p>mejores precio del pais</p>
                <a routerLink="/productos" class="btn-1">Productos a la Venta</a>
            </div>
        </div>
    </header>
    
    <section class="ofert container">
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="assets/images/f1.png" alt="" >
            </div>
            <div class="ofert-txt">
                <h3>VINO TINTO PREMIUM</h3>
                <a href="#" class="btn-2">Informacion</a>
            </div>    
        </div>
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="assets/images/f2.png" alt="" >
            </div>
            <div class="ofert-txt">
                <h3>VINOS BLANCOS PREMIUM</h3>
                <a href="#" class="btn-2">Informacion</a>
            </div>    
        </div>
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="assets/images/f3.png" alt="" >
            </div>
            <div class="ofert-txt">
                <h3>ESPUMANTES PREMIUM</h3>
                <a href="#" class="btn-2">Informacion</a>
            </div>    
        </div>
    </section>

    <main class="products container">
        <h2>VENTAS PRODUCTO X UNIDAD</h2>
        <div class="product-content">
            @for ( producto of Productos; track producto.id) {
          <div  class="product">
            <img [src]="producto.foto" alt="{{producto.nombre}}" />
            <div class="product-txt">
              <h3>{{producto.nombre}}</h3>
              <p>{{producto.descripcion}}</p>
              <p class="precio">${{producto.precio}}</p>
              <button type="button" class="agregar-carrito btn-2" (click)="agregarAlCarrito(producto)" [attr.data-id]="producto.id">Agregar al carrito</button>
            </div>
        
          </div>
        }
      
        
        </div>
    </main>

    <section class="icons container">
        <div class="icon-1">
            <div class="icon-txt">
                <h3>NOTA IMPORTANTE</h3>
                <p>
                    ofrecemos una amplia selección de vinos premium al por mayor, perfectos para negocios que buscan calidad y variedad. Desde restaurantes hasta tiendas especializadas, proporcionamos excelencia en cada botella para satisfacer a tus clientes. Descubre cómo podemos ayudarte a enriquecer tu oferta y potenciar tu negocio.
                </p>
            </div>
        </div>
    </section>

   
    <footer class="footer">
        <div class="footer-content container">
          <div class="link">
              <h3>Enlaces</h3>
              <ul>
                  <li><a href="index.html">Inicio</a></li>
                  <li><a href="productos.html">Productos</a></li>
                  <li><a href="nosotros.html">Nosotros</a></li>
                  <li><a href="contacto.html">Contacto</a></li>
              </ul>
          </div>
          <div class="link">
              <h3>Redes Sociales</h3>
              <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">LinkedIn</a></li>
              </ul>
          </div>
          <div class="link">
              <h3>Contacto</h3>
              <ul>
                  <li>Amunategui 178, 5to piso, Santiago-Chile</li>
                  <li>Teléfono: +562 5406211</li>
                  <li>contacto&#64;vinachos.cl</li>
              </ul>
          </div>
        </div>
    </footer>

