<!-- 
    @file index.html
    @description Página principal de la tienda "Tienda-Vinacho". Contiene el encabezado con ofertas destacadas, 
    una sección de íconos destacando la exclusividad de los productos y el pie de página con enlaces y contacto.
-->

<!-- Encabezado de la página -->
<header class="header">
    <div class="header-content container">
        <div class="header-img">
            <!-- Imagen principal del encabezado -->
            <img src="assets/images/right1.png" alt="header image" />
        </div>
        <div class="header-txt">
            <!-- Texto principal del encabezado -->
            <h1>Liquidación de Remate</h1>
            <p>Productos con hasta 50% de descuento</p>
            <!-- Botón de enlace a la página de productos -->
            <a routerLink="/Productos" class="btn-1">Productos a la Venta</a>
        </div>
    </div>
</header>

<!-- Sección de ofertas destacadas -->
<section class="ofert container">
    <div class="ofert-1">
        <div class="ofert-img">
            <!-- Imagen de la primera oferta -->
            <img src="assets/images/f1.png" alt="Vino Tinto Premium" />
        </div>
        <div class="ofert-txt">
            <!-- Texto de la primera oferta -->
            <h3>VINO TINTO PREMIUM</h3>
            <!-- Botón de información de la primera oferta -->
            <a href="#" class="btn-2">Información</a>
        </div>    
    </div>
    <div class="ofert-1">
        <div class="ofert-img">
            <!-- Imagen de la segunda oferta -->
            <img src="assets/images/2.png" alt="Vinos Blancos Premium" />
        </div>
        <div class="ofert-txt">
            <!-- Texto de la segunda oferta -->
            <h3>VINOS BLANCOS PREMIUM</h3>
            <!-- Botón de información de la segunda oferta -->
            <a href="#" class="btn-2">Información</a>
        </div>    
    </div>
    <div class="ofert-1">
        <div class="ofert-img">
            <!-- Imagen de la tercera oferta -->
            <img src="assets/images/f3.png" alt="Espumantes Premium" />
        </div>
        <div class="ofert-txt">
            <!-- Texto de la tercera oferta -->
            <h3>ESPUMANTES PREMIUM</h3>
            <!-- Botón de información de la tercera oferta -->
            <a href="#" class="btn-2">Información</a>
        </div>    
    </div>
</section>

<!-- Sección de íconos destacando la exclusividad -->
<section class="icons container">
    <div class="icon-1">
        <div class="icon-txt">
            <!-- Título de la sección de íconos -->
            <h3>Exclusividad en Cada Sorbo: Nuestra Selección Premium</h3>
            <!-- Descripción de la sección de íconos -->
            <p>
                Nos dedicamos a la venta exclusiva de licores premium. Nuestra colección cuidadosamente curada garantiza una experiencia de degustación excepcional, con productos que destacan por su calidad y distinción. Cada elección es un testimonio de la artesanía y la tradición, destinada a satisfacer a los conocedores más selectos.
            </p>
        </div>
    </div>
</section>

<!-- Pie de página de la página -->
<footer class="footer">
    <div class="footer-content container">
        <div class="link">
            <!-- Enlaces del pie de página -->
            <h3>Enlaces</h3>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>
        <div class="link">
            <!-- Enlaces a redes sociales del pie de página -->
            <h3>Redes Sociales</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </div>
        <div class="link">
            <!-- Información de contacto del pie de página -->
            <h3>Contacto</h3>
            <ul>
                <li>Amunategui 178, 5to piso, Santiago-Chile</li>
                <li>Teléfono: +562 5406211</li>
                <li>contacto&#64;vinachos.cl</li>
            </ul>
        </div>
    </div>
</footer>
